*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    width: 800px;
    height: 200px;
    background-color: rgb(203, 31, 140);
    margin: 0 auto;

}
#judul{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 70px;
}
#navbar{
   width: 800px;
   color: aliceblue;
    background-color: rgb(96, 6, 104);
    margin: 0 auto;

}
#navbar ul{
    list-style:none;
    font-size: 18px;
}
#navbar ul li{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
#content {
    width: 800px;
    margin: 0 auto;
    background: rgb(221, 82, 203);
}
#artikel{
    background-color: rgb(235, 104, 169);
    padding: 30px;
    font-size: 18px;
    width: 500px;
    float: left;
}
#sidebar{
    background: rgb(221, 89, 181);
    padding: 18px;
    width: 300px;
    float: right;
}
.clear{
    clear: both;
}
#footer{
    width: 800px;
    background: rgb(206, 61, 174);
    margin: 0 auto;
    color: rgb(245, 248, 248);
    padding: 20px;
    text-align: center;
}